[submodule "Mechanical"]
	path = Mechanical
	url = https://github.com/bumblebee-robotics/mechanical.git
[submodule "Power"]
	path = Power
	url = https://github.com/bumblebee-robotics/power.git
[submodule "Embedded"]
	path = Embedded
	url = https://github.com/bumblebee-robotics/embedded.git
[submodule "Electronics"]
	path = Electronics
	url = https://github.com/bumblebee-robotics/electronics.git
[submodule "Documentation"]
	path = Documentation
	url = https://github.com/bumblebee-robotics/docs.git
[submodule "Control"]
	path = Control
	url = https://github.com/bumblebee-robotics/control.git
[submodule "Autonomous"]
	path = Autonomous
	url = https://github.com/bumblebee-robotics/autonomous.git
